<footer class="p-4 py-8 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
  <div class="mx-auto max-w-screen-xl text-center">
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
    <div class="sm:items-center sm:justify-between sm:flex">
      <span class="block text-sm text-gray-500 dark:text-gray-400">© <%= Time.current.year %> <a href="https://sweepeasy.app" class="hover:underline">SweepEasy</a>. All Rights Reserved.</span>
      <ul class="flex flex-wrap items-center mb-4 text-sm text-gray-500 lg:mb-0 dark:text-gray-400">
        <li><%= link_to "About", about_path, class: "ml-4 hover:underline md:ml-6" %></li>
        <li><%= link_to "Terms of Service", terms_path, class: "ml-4 hover:underline md:ml-6" %></li>
        <li><%= link_to "Privacy Policy", privacy_path, class: "ml-4 hover:underline md:ml-6" %></li>
        <li><%= link_to "Contact", contact_path, class: "ml-4 hover:underline md:ml-6" %></li>
      </ul>
    </div>
  </div>
</footer>
