<!DOCTYPE html>
<html>
<head>
  <title>SweepEasy</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <script src="https://kit.fontawesome.com/4482ab49ba.js" crossorigin="anonymous"></script>
  <%= hotwire_livereload_tags if Rails.env.development? %>
</head>
<body class="antialiased bg-gray-50 dark:bg-gray-900">
  <%= render "shared/navbar" %>
  <%= render "shared/sidebar" %>

  <main class="p-4 md:ml-64 h-auto pt-20">
    <%= yield %>
  </main>
</body>
</html>
