<!DOCTYPE html>
<html>
<head>
  <title>SweepEasy</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <%= hotwire_livereload_tags if Rails.env.development? %>
</head>
<body>
  <main class="antialiased bg-body text-body font-body">
    <%= render "shared/pages_navbar" %>
    <%= render "shared/notices" %>
    <main class="mx-auto max-w-screen-xl mt-2">
      <%= yield %>
    </main>
  </main>
  <%= render "shared/pages_footer" %>
</body>
</html>
